.wappera{
    width: 600px;
    height: 800px;
   padding-left:25px;
   padding-top :10px;
    background-color: rgb(67, 216, 216);
}
.box{
    background-color: #ecf7fb;
    width: 450px;
    height: 750px;
   border-radius: 30px;
   padding-left: 20px ;
   padding-top: 10px ;
   
}
.logo{

}
.range{
 margin-left: 100px;
}
.inline-input{
    display: inline-flexbox;
}
.comment{
    width: 150px;
    height: 70px;
}
